torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0

transformers==5.5.0
datasets==4.3.0
trl
peft
accelerate
bitsandbytes


unsloth==2026.4.2


sacrebleu
rouge-score
numpy

pandas
python-dotenv

matplotlib
seaborn

scikit-learn

# gradio==6.12.0